<div class="education">
        <h2>EDUCATION</h2>
        <ul>
                {% for degree in site.data.education %}
                <li><b>{{ degree.degree }}</b> in <b>{{ degree.major }}</b> ({{ degree.year }})<br />
                        {{ degree.school }}<br />
                        {% if degree.thesis %}
                        <i>Thesis:</i> <b>{{ degree.thesis }}.</b>
                        {% endif %}
                        {% if degree.dissertation %}
                        <i>Dissertation:</i> <b>{{ degree.dissertation }}.</b>
                        {% endif %}
                        {% if degree.comments %}
                        <b>{{ degree.comments }}</b>
                        {% endif %}
                </li>
                {% endfor %}
        </ul>
</div>