<div class="education">
        <h2>EDUCATION</h2>
        <ul>
                {% for degree in site.data.education %}
                <li><b>{{ degree.degree }}</b> in <b>{{ degree.major }}</b> ({{ degree.year }})<br />
                        <span class="style_grey">{{ degree.school }}</span><br />
                        {% if degree.thesis %}
                        <i>Thesis:</i> {{ degree.thesis }}.
                        {% endif %}
                        {% if degree.dissertation %}
                        <i>Dissertation:</i> {{ degree.dissertation }}.
                        {% endif %}
                        {% if degree.comments %}
                        {{ degree.comments }}
                        {% endif %}
                </li>
                {% endfor %}
        </ul>
</div>