
<head>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no" />
  <link rel="apple-touch-icon" href="{{ "/assets/imgs/touch-icon-iphone.png" | relative_url }}" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/imgs/touch-icon-ipad.png" | relative_url }}" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/imgs/touch-icon-iphone-retina.png" | relative_url }}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/imgs/touch-icon-ipad-retina.png" | relative_url }}"/>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/assets/imgs/favicon.ico" | relative_url }}" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet"> 
  <title>
    About Heewon
  </title>
</head>
