<div class="publication">
  <h2>PUBLICATIONS</h2> <span class="Body_Small">as of May 27, 2024</span>
  <ol>
    {% for article in site.data.publications %}
      <li>
        <span class="style_title">{{ article.title }}.</span><br>
        {{ article.authors }} <br>
        <span class="style_journal">{{ article.journal }}</span> <span class="style_issue">{{ article.year }}</span>
        {% if article.doi %}<a href="https://doi.org/{{ article.doi }}" target="_blank"><span class="Body_Small">DOI: {{ article.doi }}</span></a> <span class="style_issue">&#124;</span>{% else %}<span class="Body_Small">in press</span>{% endif %} {% if article.pmid %}<a href="{{ site.baseurl }}/assets/pdfs/PMID_{{ article.pmid }}.pdf" target="_blank"><span class="Body_Small">PMID: {{ article.pmid }}</span></a>{% endif %}
      </li>
    {% endfor %}
  </ol>
<ul>
</div>
