<h2>HEEWON SEO, MS, PhD</h2>
    <div class="contents-wrapper">
      <div class="contents-left">
        <ol>
          <b>Lead Bioinformatician</b><br />
          Applied Spatial Omics Centre<br />
          Cumming School of Medicine<br />
          University of Calgary<br />
          <br />
          <img src="{{ "/assets/imgs/email-icon.png" | relative_url }}"> <a href="mailto:Heewon.Seo@UCalgary.ca">Heewon.Seo@UCalgary.ca</a><br />
          <img src="{{ "/assets/imgs/graduation-cap.png" | relative_url }}"> <a href="{{ "/assets/pdfs/CV-HEEWON_SEO.pdf" | relative_url }}" target="_blank">Curriculum Vitae</a> <span class="Body_Small">as of June 01, 2024</span><br />
          <img src="{{ "/assets/imgs/wiki-icon.png" | relative_url }}"> <a href="https://wiki.lootpiz.com" target="_blank">CerebraLog</a><br />
          <!--img src="{{ "/assets/imgs/folder-icon.png" | relative_url }}"> <a href="https://project.lootpiz.com" target="_blank">Projects</a><br /-->
          <img src="{{ "/assets/imgs/github-icon.png" | relative_url }}"> <a href="https://github.com/lootpiz/" target="_blank">GitHub</a><br />
          <img src="{{ "/assets/imgs/coin-icon.png" | relative_url }}"> <a href="https://lootpiz.shinyapps.io/numismous/" target="_blank">Numismous</a>
        </ol>
      </div>
      <div class="contents-right">
        <img src="{{ "/assets/imgs/Heewon.png" | relative_url }}">
      </div>
    </div>
    <div class="contents-mobile">
      <p>
        <center>
          <img src="{{ "/assets/imgs/Heewon.png" | relative_url }}">
        </center>
      </p>
      <p>
        <ol>
          <b>Lead Bioinformatician</b><br />
          Applied Spatial Omics Centre<br />
          Cumming School of Medicine<br />
          University of Calgary<br />
          <br />
          <img src="{{ "/assets/imgs/email-icon.png" | relative_url }}"> <a href="mailto:Heewon.Seo@uCalgary.ca">Heewon.Seo@UCalgary.ca</a><br />
          <img src="{{ "/assets/imgs/graduation-cap.png" | relative_url }}"> <a href="{{ "/assets/pdfs/CV-HEEWON_SEO.pdf" | relative_url }}" target="_blank">Curriculum Vitae</a><br />
          <img src="{{ "/assets/imgs/wiki-icon.png" | relative_url }}"> <a href="https://wiki.lootpiz.com" target="_blank">CerebraLog</a><br />
          <!--img src="{{ "/assets/imgs/folder-icon.png" | relative_url }}"> <a href="https://project.lootpiz.com" target="_blank">Projects</a><br /-->
          <img src="{{ "/assets/imgs/github-icon.png" | relative_url }}"> <a href="https://github.com/lootpiz/" target="_blank">GitHub</a><br />
          <img src="{{ "/assets/imgs/coin-icon.png" | relative_url }}"> <a href="https://lootpiz.shinyapps.io/numismous/" target="_blank">Numismous</a>
        </ol>
      </p>
    </div>
