@font-face {
    font-family: 'ClearSans';
    src: url('fonts/ClearSans-Regular.eot');
	src: url('fonts/ClearSans-Regular.eot?iefix') format('embedded-opentype'),
		 url('fonts/ClearSans-Regular.woff') format('woff'),
		 url('fonts/ClearSans-Regular.ttf') format('truetype'),
		 url('fonts/ClearSans-Regular.svg#webfont') format('svg');
   font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans-Italic';
    src: url('fonts/ClearSans-Italic.eot');
	src: url('fonts/ClearSans-Italic.eot?iefix') format('embedded-opentype'),
		 url('fonts/ClearSans-Italic.woff') format('woff'),
		 url('fonts/ClearSans-Italic.ttf') format('truetype'),
		 url('fonts/ClearSans-Italic.svg#webfont') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'ClearSans-Bold';
    src: url('fonts/ClearSans-Bold.eot');
	src: url('fonts/ClearSans-Bold.eot?iefix') format('embedded-opentype'),
		 url('fonts/ClearSans-Bold.woff') format('woff'),
		 url('fonts/ClearSans-Bold.ttf') format('truetype'),
		 url('fonts/ClearSans-Bold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans-BoldItalic';
    src: url('fonts/ClearSans-BoldItalic.eot');
	src: url('fonts/ClearSans-BoldItalic.eot?iefix') format('embedded-opentype'),
		 url('fonts/ClearSans-BoldItalic.woff') format('woff'),
		 url('fonts/ClearSans-BoldItalic.ttf') format('truetype'),
		 url('fonts/ClearSans-BoldItalic.svg#webfont') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'ClearSans-Light';
    src: url('fonts/ClearSans-Light.eot');
	src: url('fonts/ClearSans-Light.eot?iefix') format('embedded-opentype'),
		 url('fonts/ClearSans-Light.woff') format('woff'),
		 url('fonts/ClearSans-Light.ttf') format('truetype'),
		 url('fonts/ClearSans-Light.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans-Thin';
    src: url('fonts/ClearSans-Thin.eot');
	src: url('fonts/ClearSans-Thin.eot?iefix') format('embedded-opentype'),
		 url('fonts/ClearSans-Thin.woff') format('woff'),
		 url('fonts/ClearSans-Thin.ttf') format('truetype'),
		 url('fonts/ClearSans-Thin.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumMyeongjo';
	src: url('fonts/NanumMyeongjo.eot');
	src: url('fonts/NanumMyeongjo.eot?iefix') format('embedded-opentype'),
 		 url('fonts/NanumMyeongjo.woff') format('woff'),
		 url('fonts/NanumMyeongjo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.style_myname {
    color: rgb(0, 0, 0);
    font-family: 'ClearSans';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: 1.00;
}
.style_names {
    font-family: 'ClearSans-Thin';
    color: rgb(40, 40, 40);
    font-size: 12px;
    opacity: 1.00;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal; 
}
.style_title {
    font-family: 'ClearSans';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}
.style_title_tmp {
    font-family: 'ClearSans';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}
.style_journal {
    font-family: 'ClearSans-Italic';
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-weight: normal;
}
.style_issue {
    font-family: 'ClearSans-Light';
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
}
.korean {
    font-family: 'NanumMyeongjo';
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
}
Body {
    color: rgb(0, 0, 0);
    font-family: 'ClearSans';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    -webkit-text-size-adjust: none;
}
.Body_Small {
    color: rgb(186, 122, 76);
    font-family: 'ClearSans-Light';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 4px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

a {
    color: rgb(0,0,0);
    text-decoration: none;
}
a:visited {
    color: rgb(0,0,0);
    text-decoration: none;
}
a:hover {
    color: rgb(176, 112, 66);
    text-decoration: underline;
}

div { 
    overflow: visible; 
}
img { 
    border: none; 
}
