---
layout: default
---

<div class="home">
  <h2>HEEWON SEO, MS, PhD</h2>
    <div class="contents-wrapper">
      <div class="contents-left">
        <ol>
          <b>Lead Bioinformatician</b><br />
          Arnie Charbonneau Cancer Institute<br />
          Cumming School of Medicine<br />
          University of Calgary<br />
          <br />
          <img src="{{ "/assets/imgs/email-icon.png" | relative_url }}"> <a href="mailto:Heewon.Seo@UCalgary.ca">Heewon.Seo@UCalgary.ca</a><br />
          <img src="{{ "/assets/imgs/graduation-cap.png" | relative_url }}"> <a href="{{ "/assets/pdfs/CV-HEEWON_SEO.pdf" | relative_url }}" target="_blank">Curriculum Vitae</a><br />
          <img src="{{ "/assets/imgs/wiki-icon.png" | relative_url }}"> <a href="https://wiki.lootpiz.com" target="_blank">CerebraLog</a><br />
          <img src="{{ "/assets/imgs/folder-icon.png" | relative_url }}"> <a href="https://project.lootpiz.com" target="_blank">Projects</a><br />
          <img src="{{ "/assets/imgs/github-icon.png" | relative_url }}"> <a href="https://github.com/lootpiz/" target="_blank">GitHub</a><br />
          <img src="{{ "/assets/imgs/coin-icon.png" | relative_url }}"> <a href="https://numism.lootpiz.com" target="_blank">Numismous</a>
        </ol>
      </div>
      <div class="contents-right">
        <img src="{{ "/assets/imgs/Heewon_open2work.png" | relative_url }}">
      </div>
    </div>
    <div class="contents-mobile">
      <p>
        <center>
          <img src="{{ "/assets/imgs/Heewon_open2work.png" | relative_url }}">
        </center>
      </p>
      <p>
        <ol>
          <b>Lead Bioinformatician</b><br />
          Arnie Charbonneau Cancer Institute<br />
          Cumming School of Medicine<br />
          University of Calgary<br />
          <br />
          <img src="{{ "/assets/imgs/email-icon.png" | relative_url }}"> <a href="mailto:Heewon.Seo@uCalgary.ca">Heewon.Seo@uCalgary.ca</a><br />
          <img src="{{ "/assets/imgs/graduation-cap.png" | relative_url }}"> <a href="{{ "/assets/pdfs/CV-HEEWON_SEO.pdf" | relative_url }}" target="_blank">Curriculum Vitae</a><br />
          <img src="{{ "/assets/imgs/wiki-icon.png" | relative_url }}"> <a href="http://wiki.lootpiz.com" target="_blank">CerebraLog</a><br />
          <img src="{{ "/assets/imgs/folder-icon.png" | relative_url }}"> <a href="http://project.lootpiz.com" target="_blank">Projects</a><br />
          <img src="{{ "/assets/imgs/github-icon.png" | relative_url }}"> <a href="https://github.com/lootpiz/" target="_blank">GitHub</a><br />
          <img src="{{ "/assets/imgs/coin-icon.png" | relative_url }}"> <a href="http://numism.lootpiz.com" target="_blank">Numismous</a>
        </ol>
      </p>
    </div>
  <br>
  {% include bio.html %}
  <br>
  {% include education.html %}
  <br>
  {% include experience.html %}
  <br>
  {% include interests.html %}
  <br>
  {% include skills.html %}
  <br>
  {% include publication.html %}
</div>
